/single.php
/footer.php
/404.php
/searchform.php
/index.php
/sidebar.php
/inc/
/archive.php
/rtl.css
/assets/
/header.php
/README.txt
/front-page.php
/screenshot.png
/page.php
/template-parts/
/style.css
/search.php
/comments.php
