/single.php
/footer.php
/404.php
/searchform.php
/index.php
/sidebar.php
/inc/
/archive.php
/rtl.css
/header.php
/README.txt
/front-page.php
/screenshot.png
/page.php
/template-parts/
/style.css
/search.php
/comments.php
/assets/js/global.js
/assets/js/html5.js
/assets/js/jquery.scrollTo.js
/assets/js/skip-link-focus-fix.js
/assets/css/
/assets/js/navigation.js
/assets/js/customize-controls.js
/assets/images/
/assets/js/customize-preview.js
